/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'materialize';

$header_height: 70px;

body{
	background-color: #fafafa;
	padding-top: $header_height + 20;
}

.header{
	background-color: #fff;
	padding: 1em;
	border-bottom: 1px solid rgba(0,0,0,.0975);
	height: $header_height;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 10;

	.header-wrapper{
		margin: 0 auto;
		max-width: 1000px;

		.logo-place{
			.logo-ico{
				display: inline-block;
				a{
					color: rgba(0,0,0,0.8);
				}
				.material-icons{
					font-size: 30px;
					position: relative;
					top: -5px;
					padding-right: .7em;
				}
			}
			.logo{
				border-left: 1px solid #ccc;
				padding-left: .7em;
				display: inline-block;
				font-size: 1.3em;
			}
		}

		.search{
			text-align: center;
			
			form{
				display: inline-block;
				margin-top: 7px;

				.search_field{
					input{
						border: 1px solid rgb(219,219,219);
				    height: 25px;
				    padding: 0 10px;
				    background-color: rgb(250,250,250);
				    border-radius: 2px;
				    text-align: center;

				    &:focus{
				    	text-align: left;
				    	border: 1px solid rgb(219,219,219);
				    }
					}
				}
			}
		}

		.user-menu{
			position: relative;
			top: -7px;
			a{
				color: rgba(0,0,0,0.65);	
			}
			li{
				display: inline-block;
				padding: 0 .7em;
				.material-icons{
					font-size: 25px;
				}
			}
		}
		
	}
}

