.post_list{
	margin: 0 auto;
	max-width: 640px;

	li{
		margin-bottom: 3em;
		.post-image{
			img{
				width: 100%;
			}
		}
		.user-info{
			padding: 1em;
		}
		.post-extras{
			padding: 1em;
			padding-bottom: 0;
		}

		.post-comments{
			margin-top: .7em;
			.comment-item{
				.user-name{
					display: inline-block;
					margin-right: .3em;

					a{
						color: rgba(0,0,0,0.8);
						font-weight: bold;
					}
				}
				.comment-text{
					display: inline-block;
				}
			}

			.comments-form{
				margin-top: .7em;
				border-top: 1px solid #ececec;

				input[type=text]{
					border: none;
				}
			}
		}
	}

	
} 