.post_list{
	margin: 0 auto;
	max-width: 640px;

	li{
		margin-bottom: 3em;
		.post-image{
			img{
				width: 100%;
			}
		}
		.user-info{
			padding: 1em;
		}
		.post-extras{
			padding: 1em;
		}
	}

	
} 